<?xml version='1.0' encoding='utf-8'?>
<widget id="com.GuiGhostGames.StackerBoB" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Stacker Boxes of Balance</name>
    <description>
        Stack the boxes to get the High Score! Simple, Easy Play
    </description>
 <author href="http://guighostgames.com" email="info@guighost.com">
 GuiGhost Games
 </author>
 
 
 
<access origin="*"/>
<allow-navigation href="*"/>
<allow-intent href="http://*/*"/>
<allow-intent href="https://*/*"/>
<allow-intent href="tel:*"/>
<allow-intent href="sms:*"/>
<allow-intent href="mailto:*"/>
<allow-intent href="geo:*"/>
<content src="index.html"/>
<plugin  source="npm" name="cordova-plugin-battery-status"/>
<plugin  source="npm" name="cordova-plugin-camera"/>
<plugin  source="npm" name="cordova-plugin-media-capture"/>
<plugin source="npm" name="cordova-plugin-device"/>
<plugin  source="npm" name="cordova-plugin-dialogs"/>
<plugin  source="npm" name="cordova-plugin-file"/>
<plugin  source="npm" name="cordova-plugin-geolocation"/>
<plugin  source="npm" name="cordova-plugin-globalization"/>
<plugin source="npm" name="cordova-plugin-inappbrowser"/>
<plugin  source="npm" name="cordova-plugin-network-information"/>
<plugin  source="npm" name="cordova-plugin-vibration"/>
<plugin name="enhance-cordova-connector"/>
  <plugin name="fitatu-cordova-plugin-market" />

 <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <content src="index.html" />
<preference name="orientation" value="portrait"/>
<preference name="target-device" value="universal"/>
<preference name="fullscreen" value="true"/>
<preference name="DisallowOverscroll" value="true"/>

-<platform name="android">
	<allow-intent href="market:*"/>
	<icon src="icon.png"/>
	<preference name="android-targetSdkVersion" value="28"/>
	<preference name="ANDROID_SUPPORT_RECYCLERVIEW_VERSION" default="27+"/>
	<preference name="KeepRunning" value="true"/>
	<preference name="InAppBrowserStorageEnabled" value="true"/>
	<preference name="AndroidLaunchMode" value="singleTop"/>
	<preference name="DefaultVolumeStream" value="call"/>
	<preference name="useCleartextTraffic" value="true"/>
	<allow-navigation href="*"/>
</platform>

</widget>
